<!DOCTYPE html>
<title>Limit exceed</title>
<style>
    html, body {
      height:100%;
      background-image: url('https://miro.medium.com/max/1400/1*a4tiXdRcOxYEQn-SyV6Jcw.png');
      background-repeat:repeat;
      background-size:cover;
    }
</style>
<br><br>
<center><h1 style="color:rgb(235, 40, 14);"> Uploaded Image size must be less then 200 KB </h1></center>
<br><br>
<center><p style="color:rgb(161, 253, 13);"> <b>Note : I have restricted Image size only upto 200KB just because AWS free tire provides limited resource </b></p></center>